.gallery
{
	h1{
		margin: 24px 0 0 8px;
		font-size: 40px;
		
	}

	.carousel{
		margin: 28px 38px 0 76px;
	}

	h2{
		font-size: 14px;
		margin: 52px 0 0 77px;
	}

	.fintess{
		margin: 0 0 0 0;
	}

	.main-content{
		font-size: 12px;
		margin: 7px 0 0 76px;
		font-weight: bold;
	}

}